asgiref==3.7.2
certifi==2024.2.2
channels==4.0.0
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.1
django_ajax==0.3.0
gTTS==2.5.1
idna==3.6
PyAudio==0.2.14
pydub==0.25.1
requests==2.31.0
SpeechRecognition==3.10.1
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.0
whitenoise==6.6.0
PyAudio==0.2.14
